[submodule "dependencies/unitree_mujoco"]
	path = dependencies/unitree_mujoco
	url = https://github.com/unitreerobotics/unitree_mujoco
[submodule "dependencies/mujoco"]
	path = dependencies/mujoco
	url = https://github.com/google-deepmind/mujoco
[submodule "dependencies/unitree_sdk2_python"]
	path = dependencies/unitree_sdk2_python
	url = https://github.com/unitreerobotics/unitree_sdk2_python
[submodule "dependencies/cyclonedds"]
	path = dependencies/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds
[submodule "dependencies/unitree_sdk2"]
	path = dependencies/unitree_sdk2
	url = https://github.com/unitreerobotics/unitree_sdk2.git
